@(form: Form[Usuario])
<html lang="">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name=description content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="">

    </head>
    <body>
	    @if(flash.contains("fail")) {
	   		<p class="bg-danger" style="">
	        	@flash.get("fail")
			</p>
	   }
	   @helper.form(routes.Login.authenticate) {
		   <h1 class="text-center">LogIn</h1>
	       <p>
		       <input type="email" name="email" placeholder="Email" value='@form("email").value'
	                  class="form-control">
	       </p>
	       <p>
		       <input type="password" name="password" placeholder="Password" class="form-control">
	       </p>
	       <div>
		       <button class="btn btn-primary" type="submit">Login</button>
		       <!--<a class="btn btn-info" style="float:right;" href="/registrar"> Registrar</a>-->
	       </div>
		}
	</body>
	
<html lang="">